.nx-extra-user
  .nx-user-1
    .moduletable
      .custom
        %p
          %img{:alt => "", :border => "0", :src => "/vmdemo/bakerymart/images/user-1.jpg"}/
        .text-user
          %h3 Diwali Pre-Oder Offer!
          %p Little kids, BIG surprises! Check out to delight kids.
          %p
            %a{:href => "/vmdemo/bakerymart/index.php/chocolates"} Click here to gift now...
  / End User-1
  .nx-user-2
    .moduletable
      .custom
        %p
          %img{:alt => "user", :border => "0", :src => "/vmdemo/bakerymart/images/user-2.jpg"}/
        .text-user
          %h3 Send Gifts International
          %p You can now send gifts to over 100 countries Internationally!
          %p
            %a{:href => "/vmdemo/bakerymart/index.php/breads"} View our global collection......
  / End User-2
  .nx-user-3
    .moduletable
      .custom
        %p
          %img{:alt => "user", :border => "0", :src => "/vmdemo/bakerymart/images/user-3.jpg"}/
        .text-user
          %h3 Kid's Store
          %p Little kids, BIG surprises! Check out our vast collection of gifts to delight your kids.
          %p
            %a{:href => "/vmdemo/bakerymart/index.php/chocolates"} Click here to gift now...
  / End User-2
.nx-menu-bottom
  .moduletable
    %h3 Shop Our Cakes
    %ul.menu
      %li.item-146
        %a{:href => "/vmdemo/bakerymart/index.php/bundt-cakes"} Bundt Cakes
      %li.item-147
        %a{:href => "/vmdemo/bakerymart/index.php/layer-cakes"} Layer Cakes
      %li.item-148
        %a{:href => "/vmdemo/bakerymart/index.php/cup-cakes"} Cup Cakes
      %li.item-149
        %a{:href => "/vmdemo/bakerymart/index.php/specialty"} Specialty
      %li.item-150
        %a{:href => "/vmdemo/bakerymart/index.php/all-products"} All Products
