#nx-left-sidebar
  .nx-menu-left
    %ul.menu
      - @categories.each do |t|
        %li.item-136
          - if params[:lang] == 'en'
            = link_to t.name, category_path(t.id)
          - else
            - if t.name_vn.blank?
              = link_to t.name, category_path(t.id)
            -else
              = link_to t.name_vn, category_path(t.id)
    .bannergroup
      .banneritem
        %img{:alt => "Banner Left", :src => "http://truemart.net/vmdemo/bakerymart/images/banners/banner-left.jpg"}/
        .clr
    #all_manu_s
      #khung_mn_s
        #bgm_s
        #bth_s
          %span.icon_bt_s
          %span.thm_12_b_black_s vm manufacturers
        #btb_s
      #pop_up_s
        #manu_vm_all_s
          #manufacturer_vm_s
            .vmgroup22{:style => "width:210px; margin: 0 auto; border: 0px solid red;"}
              %input#width_div_module{:type => "hidden", :value => "200"}/
              %input#width_div_module2{:type => "hidden", :value => "210"}/
              %input#width_div_scroll{:type => "hidden", :value => "200"}/
              .vmmanufacturer_s
                %center
                  .jcarousel-skin-tango
                    .jcarousel-container.jcarousel-container-vertical{:style => "position: relative; display: block;"}
                      .jcarousel-clip.jcarousel-clip-vertical{:style => "position: relative;"}
                        %ul#mycarousel.jcarousel.jcarousel-list.jcarousel-list-vertical{:style => "overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: 0px; height: 1132px;"}
                          %li.width_image_s.jcarousel-item.jcarousel-item-vertical.jcarousel-item-1.jcarousel-item-1-vertical{:jcarouselindex => "1", :style => "display: inline; float: none !important; list-style: none;"}
                            %a{:href => "/"}
                              %img{:alt => "http://www.inspired-by-chocolate-and-cakes.com/images/chocolate-and-cakes.jpg"}/
                            %div{:style => "text-align:center !important; width: 180px"}
                      .jcarousel-prev.jcarousel-prev-vertical{:style => "display: block; left: -12px;"}
                      .jcarousel-next.jcarousel-next-vertical{:style => "display: block; left: -12px;"}
    :css
      #manu_vm_all_s {
              display:inline-block;
          }
          #manu_vm_all_s img#img_icon_vm_s {
              position:absolute;
              top:0px;
          }
          #manufacturer_vm_s {
              margin: 0 auto;
              padding: 1px;
              width: auto;
              display:inline-block;
              top:0px;
              left:32px;
              display: block;
              background: none repeat scroll 0 0 #FFF;
          }
          #manufacturer_vm_s img {
              width: 200px;
              height: 150px;
              border: 1px solid #999;
              display: block;
          }
          #manufacturer_vm_s a {
              text-decoration: none;
          }
          .thm-12-b_s {
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: #000;
        text-decoration: none;
          widows: inherit;
          overflow: hidden;
          vertical-align: top !important;
          padding-left: 190px;
          position:absolute;
          padding:4px 0px 2px 212px;
          text-align:left; width:60%;
      }
      .thm-12-b_s-2 {
          font-weight: bold;
          text-align: center;
          padding-bottom: 60px;
      }
.clear-fix
