.nx-featured-products
  .nx-featured
    .jcarousel-skin-tango
      .jcarousel-container.jcarousel-container-horizontal{:style => "position: relative; display: block;"}
        .jcarousel-clip.jcarousel-clip-horizontal{:style => "position: relative;"}
          %ul#product-carousel-featured.jcarousel-list.jcarousel-list-horizontal{:style => "overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: 0px; width: 3088px;"}
            %li.nx-featured-products-items.jcarousel-item.jcarousel-item-horizontal.jcarousel-item-1.jcarousel-item-1-horizontal{:jcarouselindex => "1", :style => "float: left; list-style: none;"}
              .nx-products-image
                %a{:href => "/vmdemo/bakerymart/index.php/cookies/sugar-free-chocolate-detail", :title => "Sugar Free Chocolate"}
                  %img.featuredProductImage{:alt => "sugar_free_chocolate_chip_cookies_med", :border => "0", :src => "https://www.craftybaking.com/images/uploads/old/Scratch%20Cake%20from%20a%20Mix_0_0.gif"}/
                .clear
              %p.nx-title-product
                %a{:href => "/vmdemo/bakerymart/index.php/cookies/sugar-free-chocolate-detail"} Sugar Free Chocolate
              .nx-price-product
                .clear
                .PricesalesPrice{:style => "display : block;"}
                  %span.PricesalesPrice $38.00
                .addtocart-area
                  %form.product{:action => "/", :method => "post"}
                    %span.addtocart-button
                      %input.addtocart-button{:name => "addtocart", :title => "Add to Cart", :type => "submit", :value => "Add to Cart"}/
                    .clear
                  .clear
          %br{:style => "clear:both;"}/
        .jcarousel-prev.jcarousel-prev-horizontal.jcarousel-prev-disabled.jcarousel-prev-disabled-horizontal{:disabled => "disabled", :style => "display: block;"}
        .jcarousel-next.jcarousel-next-horizontal{:style => "display: block;"}
