#khung
  #main
    #toolbar.toolbar-list
      %ul
        %li#toolbar-new
        %li.divider
        %li#toolbar-help
          %a.toolbar{:href => "#messages", :rel => "modal"}
            %span.icon-32-help
            Trợ giúp
        %li#toolbar-unpublish
          %a.toolbar{:href => "http://longphung.vn/admin/home"}
            %span.icon-32-unpublish
            Đóng
      .clr
    .pagetitle.icon-48-nhomtin
      %h2 Danh mục sản phẩm
    .clr