#khung
  #main
    #toolbar.toolbar-list
      %ul
        - if !href.blank?
          %li#toolbar-new
            %a.toolbar{:href => href}
              %span.icon-32-new
              Thêm mới
        %li.divider
        %li#toolbar-help
          %a.toolbar{:href => "?lang=vn"}
            %span.icon-32-help
            #{t('vietnam')}
        %li#toolbar-unpublish
          %a.toolbar{:href => "?lang=en"}
            %span.icon-32-unpublish
            #{t('english')}
      .clr
    .pagetitle.icon-48-nhomtin
      %h2 
        = page_title
    .clr