.content-box-header
  %h3 
    = title
  .clear
.content-box-content
  #tab1.tab-content.default-tab
    %table.input
      %tbody
        %tr
          %td.label{for: 'category_name', :width => "120"} Tên Danh mục:
          %td
            %input#category_name.text-input.medium-input{:name => "category[name]", :type => "text", value: @category.try(:name)}/
        %tr
          %td.label{for: 'category_name_vn', :width => "120"} Tên Danh mục (Tiếng Anh):
          %td
            %input#category_name_vn.text-input.medium-input{id: 'category_name', :name => "category[name_vn]", value: @category.try(:name_vn), :type => "text"}/
#khung{:style => "border: none;"}
  #main
    #toolbar.toolbar-list
      %ul
        %li#toolbar-new
          %a.toolbar
            %span.icon-32-save
            %input{name: 'commit', type: 'submit', value: 'Luu'}
        %li#toolbar-unpublish
          %a.toolbar{:href => "/admin"}
            %span.icon-32-cancel
            Hủy
      .clr
    .clr   