.content-box-header
  %h3 
    = title
  .clear
.content-box-content
  #tab1.tab-content.default-tab
    %table.input
      %tbody
        %tr
          %td.label{:width => "120"} Tên Danh mục:
          %td
            %input#idtitle.text-input.medium-input{:maxlength => "250", :name => "data[Catproduct][name]", :onchange => "get_alias()", :type => "text"}/
          %tr{:style => ""}
            %td.label{:width => "120"} Tên Danh mục (Tiếng Anh):
            %td
              %input#idtitle.text-input.medium-input{:maxlength => "250", :name => "data[Catproduct][name_eg]", :onchange => "get_alias()", :type => "text"}/
            %tr{:style => ""}
              %td.label{:width => "120"} Tên Danh mục (Tiếng Trung):
              %td
                %input#idtitle.text-input.medium-input{:maxlength => "250", :name => "data[Catproduct][name_chi]", :onchange => "get_alias()", :type => "text"}/