#main-content
  = render 'admin/top', :page_title => t("admin.manage_product_category")
  .content-box
    = form_for(@category, url: admin_category_path(@category))  do |f|
      = render 'form', title: t('admin.edit_product_category')
  
