#main-content
  = render 'admin/top', :page_title => t("admin.manage_product_category"), href: ''
  .content-box
    = form_for(@product, url: admin_products_path(@product), :html => {:multipart => true})  do |f|
      = render 'form', title: t('admin.add_product_category')